@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.footer{
  margin: 0 10%;
  text-align: center;
  margin-bottom: 15px;
}

.footer hr{
  margin: 10px 0;
  height: 1px;
  /* border: 0; */
  outline: none;
}

.footer-links{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-links a{
  color: #1d1d1d;
  text-decoration: none;
}

.footer-links a i{
  margin-right: 6px;
}

.footer-links .link{
  margin-right: 14px;
}